<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <table>
    <tr>
      <td>
        <ul>
          
          <li><a href="https://javascript.info/js">JS</a></li>
          <li><a href="javascript/index.html">JS Fundamentals</a></li>
          <li><a href="javascript/dom/index.html">DOM Manipulation</a></li>
          <li><a href="javascript/promise/index.html">Promises</a></li>
        </ul>
      </td>
      <td>
        <ul>
          <li><a href="css/specificity/index.html">Specificity</a></li>
          <li><a href="css/layouting-float-inline-block-position/index.html">Layouting float inline block position</a>
          </li>
          <li><a href="css/combinators/index.html">Combinators</a></li>
          <li><a href="css/box-model/index.html">Box Model 1</a></li>
          <li><a href="css/box-model-2/index.html">Box Model 2</a></li>
          <li><a href="css/grid/index.html">CSS grid</a></li>
          <li><a href="css/flexbox/index.html">Flexbox 1</a></li>
          <li><a href="css/flexbox-2/index.html">Flexbox 2</a></li>
          <li><a href="css/transitions/index.html">Transitions</a></li>
          <li><a href="css/transforms/index.html">Transformations</a></li>
          <li><a href="css/bem/index.html">BEM</a></li>
        </ul>
      </td>

    </tr>
  </table>

  <ul style="display: none;">
    <% results.forEach(function(r) { %>
      <li>
        <%= r.id %> - <%= r.name %>
      </li>
      <% }); %>
  </ul>
</body>

</html>