body, html {
  margin: 0;
  height: 100vh;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  background: #eeeeee;
  font-family: 'Nunito', sans-serif;
}

.card {
  padding: 0 5em;
}

.card__img {
  display: block;
  height: 100px;
  width: 100%;
  background: #e0466b;
}

.card__content {
  padding: 1.5em;
  background: white;
}

.card__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.card__item {
  padding: .3em .5em;
  margin-right: .5em;
  background: #e6e6e6;
  border-radius: .3em;
  font-size: .85em;
}

.card__item--active {
  background: #d4d4d4;
  font-weight: bold;
}

.card__link {
  background: #2c8973;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: .5em;
  display: inline-block;
  margin-top: .5em;
}

.card__link:hover {
  background: #267764;
}
