.link {
  background: #2c8973;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: .5em;
  display: inline-block;
  margin-top: .5em;
}

.link:hover {
  background: #267764;
}
