
.list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;

    &__item {
        padding: .3em .5em;
        margin-right: .5em;
        background: rgb(230, 230, 230);
        border-radius: .3em;
        font-size: .85em;
    
        &--active {
            background: #d4d4d4;
            font-weight: bold;
        }
    }
}
