.list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.list__item {
  padding: .3em .5em;
  margin-right: .5em;
  background: #e6e6e6;
  border-radius: .3em;
  font-size: .85em;
}

.list__item--active {
  background: #d4d4d4;
  font-weight: bold;
}
